<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> | MovieBusters</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <% if (typeof customStylesheet !== 'undefined') { %>
        <link rel="stylesheet" type="text/css" href="<%= customStylesheet %>">
    <% } %>
</head>
<body>
    <div class="container">
    <header>
        <nav>
            <div class="logo">
                <a href="/">MovieBusters</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Events</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; Nico Diaz 2024</p>
    </footer>
    </div>

</body>
</html>