:root {
    --primary-blue: #0e4d92;
    --secondary-yellow: #ffd000;
    --text-white: #ffffff;
    --background-light: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-light);
    color: var(--primary-blue);
}

header {
    background-color: var(--primary-blue);
    color: var(--text-white);
    padding: 1rem;
    text-align: center;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.logo span {
    color: var(--secondary-yellow);
}

.bar {
    background-color: var(--secondary-yellow);
    color: black;
    font-size: 1.5rem;
    padding: .25rem 0;
    text-align: center;
}

footer {
    background-color: var(--primary-blue);
    color: var(--text-white);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}